:root{
    --theme-bg:#F3F3F3;
    --heading-color: #000000;
    --title-color: #4E4D4D;
    --sub-title-color: #11142D;
    --paragraph-color:#808191;
    --btn-bg:#3C50E0;
    --link-color:#8E69F8;
}
h1, h2, h3, h4, h5, h6{
    color: var(--heading-color);
}