:root {
    /* --header-height: 3rem; */
    --nav-width: 68px;
    --first-color: #4723d9;
    --first-color-light: #afa5d9;
    --white-color: #f7f6fb;
    --body-font: "Inter", sans-serif;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}