<!DOCTYPE html>
<html>

    <head>
        <!-- Basic Page Info -->
        <meta charset="utf-8">
        <title>{{title}}</title>
        {% load static %}

        <!-- Meta data -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta property="og:locale" content="en_US" />
        <meta http-equiv="content-language" content="en" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
        <!-- SEO meta data -->
        <meta name="description" content="{{description}}" />
        <meta name="keywords" content="{{keywords}}" />
        <link rel="canonical" href="{{url}}" />
        <meta itemprop="name" content="{{title}}" />
        <meta itemprop="description" content="{{description}}" />
        <meta property="og:type" content="website" />
        <meta property="og:image:width" content="650" />
        <meta property="og:image:height" content="350" />
        <meta property="og:image:type" content="{{imageType}}" />
        <meta itemprop="thumbnail" content="{{image}}" />
        <meta itemprop="thumbnailUrl" content="{{image}}" />
        <link rel="image_src" href="{{image}}" />
        <meta itemprop="embedURL" content="{{url}}" />
        <link rel="alternate" type="application/rss+xml" title="{{title}}" href="{{url}}" />
        <meta property="og:image" content="{{image}}" />
        <meta property="og:url" content="{{url}}" />
        <meta property="og:title" content="{{title}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:keywords" content="{{keywords}}" />
        <meta property="og:site_name" content="{{title}}" />
        <meta property="og:updated_time" content="{{updated_time}}" />
        <meta name="twitter:description" content="{{description}}" />
        <meta name="twitter:title" content="{{title}}" />
        <meta name="twitter:image" content="{{image}}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="{{SITE_TITLE}}" />


        <!-- script files -->
        <!-- bootstrap5 min css-->
        <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.ui.js' %}"></script>
        <script src="{% static 'js/vendor/popper.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.simple.timer.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>


        <script src="https://unpkg.com/alpinejs@3.3.2/dist/cdn.min.js" defer></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- bootstrap5 min css-->
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" />
        <!-- fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/all.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/brands.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/brands.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/fontawesome.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/fontawesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/regular.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/regular.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/solid.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/solid.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/svg-with-js.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/svg-with-js.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/v4-shims.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-free/css/v4-shims.min.css' %}" />
        <!-- default css -->
        <link rel="stylesheet" href="{% static 'css/vendor/default.css' %}" />
        <link rel="stylesheet" href="{% static 'css/color.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />


        <!-- custom css -->
        {% block custom_css %}{% endblock %}

    </head>

    <body x-data="app" x-init="initAll">

        <!-- main content -->
        {% block content %}{% endblock content %}





        <script>
            const app = {
                initAll() {
                    console.log("from app.js file");
                },
            }
        </script>

        <!-- custom js -->
        {% block custom_js %}{% endblock custom_js %}

        
    </body>

</html>