{% extends "app.html" %}
{% block content %}
{% load static %}

<div x-data="loginPage" x-init="initAll">
    <div class="w-1/2 bg-gray-100">
        <img class="w-56" src="{% static 'images/logo.png' %}" alt="logo">
        <button class="btn">Login</button>
    </div>
    <div class="w-1/2 bg-lime-400">

    </div>
</div>
{% endblock %}


{% block custom_js %}
<script>
    const loginPage = {
        isVisible: false,
        initAll() {
            console.log("from login.js file");
            const thisClass = this;
            setTimeout(() => {
                thisClass.isVisible = true;
                console.log("content visible");
            }, 2000);
        },
    }
</script>
{% endblock custom_js %}